* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(20, 19, 19);
  color: #fff;
  font-family: Fira Code;
}

h1,
h2 {
  font: 700 14pt Fira Code;
}
p {
  font: 400 12pt Fira Code;
}

input,
textarea {
  border-radius: 8px;
  border-color: #d27d2c;
  background-color: #595652;
  padding: 5px;
  font: 400 14px Fira Code;
}

label {
  font: 400 20px Fira Code;
  margin-right: 10px;
}

.group-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
