.group-input input {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  border-color: #d27d2c;
  background-color: #595652;
  padding: 5px;
  font: 400 14px Fira Code;
}

button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #d27d2c;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  background-color: #595652;
  padding: 5px;
  transition: 0.2s background-color;
  border-radius: 8px;
}

a:hover {
  text-decoration: none;
  background-color: #333230;
  padding: 5px;
}
